# App Configuration
APP_ENVIRONMENT=Development

# Server Configuration
PORT=8080
BASE_URL=http://localhost:8080
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001

# Rate Limiting
RATE_LIMIT_TIMEFRAME_SECONDS=60
RATE_LIMIT_MAX_REQUESTS=10

# MongoDB Configuration
MONGO_USERNAME=your_mongo_username
MONGO_PASSWORD=your_mongo_password
MONGO_CLUSTER_URI=your_cluster.mongodb.net/?retryWrites=true&w=majority
MONGO_DB_NAME=your_db_name

# Auth Secrets
AUTH_TOKEN_SECRET=your_auth_token_secret
AUTH_REFRESH_TOKEN_SECRET=your_auth_refresh_token_secret
GOOGLE_CLIENT_ID=your_google_client_id
RESET_PASSWORD_SECRET=your_reset_password_secret
